<html>
<head>
  <title>Hausarbeit</title>
  <link rel="stylesheet" href="style.min.css" />
  <link rel="stylesheet" href="style.css" />
</head>
<body>
<div id="map" >
  <script type="text/javascript">
      var initMap = function()
      {
          var myOptions = {
              center: new google.maps.LatLng(49.749992, 6.6371433),
              zoom: 13,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var map = new google.maps.Map(document.getElementById("map"),
              myOptions);
      };

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFDRNsKcoDdX1az69E7DThJYvzsAekkq0&callback=initMap"
          async defer></script>
</div>

<div class="counter"></div>

<button class="paginate left"><i></i><i></i></button>
<button class="paginate right"><i></i><i></i></button>

<ul id="list"></ul>

<script src="main.js" ></script>
<script src="main.min.js" ></script>
</body>
</html>

