<html>
<head>
  <title>Hausarbeit</title>
  <link rel="stylesheet" href="style.min.css" />
  <link rel="stylesheet" href="style.css" />
</head>
<body>
<div id="map" >
  <script type="text/javascript">
      var map;

      function initMap() {
          // set up the map
          map = new google.maps.Map(document.getElementById('map'), {
              center: new google.maps.LatLng(49.749992, 6.6371433),
              zoom: 13,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          });
      }

      function loadGeoJsonString(geoString) {
          var geojson = JSON.parse(geoString);
          map.data.addGeoJson(geojson);
          zoom(map);
      }

      function zoom(map) {
          var bounds = new google.maps.LatLngBounds();
          map.data.forEach(function(feature) {
              processPoints(feature.getGeometry(), bounds.extend, bounds);
          });
          map.fitBounds(bounds);
      }

      function processPoints(geometry, callback, thisArg) {
          if (geometry instanceof google.maps.LatLng) {
              callback.call(thisArg, geometry);
          } else if (geometry instanceof google.maps.Data.Point) {
              callback.call(thisArg, geometry.get());
          } else {
              geometry.getArray().forEach(function(g) {
                  processPoints(g, callback, thisArg);
              });
          }
      }
      
      function initialize() {
          initMap();
      };
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFDRNsKcoDdX1az69E7DThJYvzsAekkq0&callback=initialize"
          async defer></script>
</div>

<div class="counter"></div>

<button class="paginate left"><i></i><i></i></button>
<button class="paginate right"><i></i><i></i></button>

<ul id="list"></ul>
<script>
  var maxListElements = 100 / 4;
  var json = <%- JSON.stringify(data)%>;

  (function () {

      let list = document.getElementById("list");
      createListItems(list, maxListElements);

      list.addEventListener("click", function (e) {
          json.forEach(function (data, index) {
              if(data.features[0].properties.name === e.target.textContent) {
                  initialize();
                  loadGeoJsonString(JSON.stringify(data));
              };
          });
      });
  })();

  function createListItems(list, count) {
      while (list.hasChildNodes()) {
          list.removeChild(list.firstChild);
      }

      for (let itemIndex = 0; itemIndex <= count; itemIndex++) {
          let listItem = document.createElement("li");
          listItem.textContent = json[itemIndex].features[0].properties.name;

          if ((itemIndex + 1) % 2 === 0) {
              listItem.style.background = "white";
          }
          else {
              listItem.style.background = "lightgrey";
          }
          listItem.style.cursor = "pointer";

          list.appendChild(listItem);
      }
  }
</script>

<script src="main.js" ></script>
<script src="main.min.js" ></script>
</body>
</html>

